<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SHM.Properties.Settings.iCMCSHMDataConnectionString"
            connectionString="Data Source=.;Initial Catalog=ICMCDB;User ID=sa;Password=pass123*"
            providerName="System.Data.SqlClient" />
        <add name="SHM.Properties.Settings.iCMCSHMDataConnectionString1"
            connectionString="Data Source=DESKTOP-4REBEOG;Initial Catalog=iCMCSHMDB_TEST;User ID=sa;Password=pass123*"
            providerName="System.Data.SqlClient" />
      <add name="SHM.Properties.Settings.iCMCSHMDataConnectionString2"
            connectionString="Data Source=DESKTOP-4REBEOG;Initial Catalog=iCMCSHMDB_EL;User ID=sa;Password=pass123*"
            providerName="System.Data.SqlClient" />
       
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
